body {
    background-color: white;
}
.firstbox {
    border: black 2px solid;
}
#internal_ul {
    background-color: cyan;
}
h2 {
    background-color: orange;
}
p[name="first_p_tag"] {
    background-color: pink;
}
img {
    border-radius: 5%;
}